@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

:root {
  --black: #1c2a39;
  --gray: #5c6a79;
  --purple: #4c3db2;
}

.navbar {
  height: 120px;
  width: 80%;
  margin-left: 10%;
}

.title {
  font-weight: bold;
}
.menu,
.menu__icons {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 20pz;
  color: var(--gray);
  cursor: pointer;
  /* gap: 10px; */
}

.menu li,
.menu__icons li {
  margin: 0 10px;
}

.menu .active {
  color: var(--black);
  font-weight: bold;
}
.menu__icons li {
  color: var(--black);
}

.basket__icon {
  position: relative;
}
.basket__count {
  position: absolute;
  right: -0.7rem;
  bottom: 0;
  width: 16px;
  height: 16px;
  background-color: var(--black);
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
}

.slider {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
}

.slider img {
  height: 600px;
}

.store {
  width: 80%;
  margin-left: 10%;
}

.book__card {
  height: 400px;
}

.fos {
  font-family: "open sans", sans-serif;
}

.gray {
  color: var(--gray);
}

.black {
  color: var(--black);
}

.fw-bold {
  font-weight: bold;
}

.book__star__rate .bi-star,
.bi-star-fill {
  color: #eeedf5;
  font-size: 1.2rem;
  margin-right: 5px;
}

.book__star-rate .bi-star-fill.active {
  color: #f2c94c;
}

.book__descripton {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn__purple {
  cursor: pointer;
  border: 2px solid var(--purple);
  color: var(--purple);
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  transition: 0.3s all ease-in-out;
}


.btn__purple:hover {
  background-color: var(--purple);
  color: white;
}


.old__price {
  text-decoration: line-through;
  color: #bdbdbd;
}
.filter__background {
  left: 0;
  z-index: -1;
  position: absolute;
  width: 600px;
  height: 900px;
  background-color: #efeef6;
}
.filter {
  position: absolute;
  list-style: none;
  display: flex;
  flex-direction: column;
  min-height: 650px;
  justify-content: center;
}

.filter li {
  color: var(--gray);
  font-size: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
.filter li:hover {
  color: var(--purple);
}

.filter li .active {
  color: var(--purple);
  font-size: 1.5rem;
  font-weight: bold;
}

.filter li.active::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--purple);
  position: absolute;
  left: 8px;
  margin-top: 8px;
}

.basket__model {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000050;
  width: 100%;
  height: 100%;

}

.basket__items {
  width: 450px;
  background-color: white;
  height: 100%;
  float: right;
  position: relative;
}

.basket__items .bi-x {
  font-size: 3rem;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  color: var(--black);
}

.basket__title {
  color: var(--black);
  margin-top: 5rem;
  text-align: center;
  font-weight: bold;
}

.basket__list {
  list-style-type: none;
  padding: 0 10px;
  margin-top: 3rem;
  max-height: 650px;
  overflow-y: auto;
}

.basket__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.basket__item-info {
  width: 250px;
}

.book__name {
  font-size: 16px;
  font-weight: bold;
}
.book__price {
  font-size: 16px;
}
.book__remove {
 cursor: pointer;
 color: var(--gray);
}

.book__count{
    font-size: 24px;
    color: var(--purple);
    font-weight: bold;
    color: var(--black);
}
.decrease, .increase{
    color: var(--purple);
    cursor: pointer;

}

.decrease{
    margin-right: 5px;
}

.increase{
    margin-left: 5px;
}

.basket__total{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 5%;
    align-items: center;
    width: inherit;
}

.basket__total button{
width: 250px;
}
